<mat-form-field class="form-field">
  @if (label()) { <mat-label>{{label()}}</mat-label> }
  <mat-date-range-input [rangePicker]="picker" [id]="id()">
    <input matStartDate [formControl]="startFormField()" [placeholder]="placeholerStartDate()">
    <input matEndDate [formControl]="endFormField()" [placeholder]="placeholerEndDate()">
  </mat-date-range-input>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>

  @if (startFormField().hasError('matStartDateInvalid')) {
    <mat-error>Invalid start date</mat-error>
  }
  @if (endFormField().hasError('matEndDateInvalid')) {
    <mat-error>Invalid end date</mat-error>
  }
</mat-form-field>
