<section>
    <p>{{ task().description }}</p>
    <section>
      <app-text>
        <p>
          Complete before:
          <time [attr.datetime]="task().completedExpectedTime">{{task().completedExpectedTime | dateTime}}</time>
        </p>
      </app-text>
      <app-text>
        <span>Status: {{ task().status | taskStatus }}</span>
      </app-text>
  
      @if(task().completedBy) {
      <app-text>
        <div>Completed by: {{task().completedBy}}</div>
        <span>On: </span><time [attr.datetime]="task().completedTime">{{task().completedTime | dateTime}}</time>
      </app-text>
      }
    </section>

    <section>
      <app-status-options [formField]="getFormControl(formNames.status)" ></app-status-options>
    </section>
    <section>
      <app-button [label]="labels.submitBtn" (click)="save()"></app-button>
    </section>
  </section>
