<section class="task">
    <p>{{ task().description }}</p>
    <section>
      <app-text>
        <p i18n>
          Complete before:
          <time [attr.datetime]="task().completedExpectedTime">{{task().completedExpectedTime | dateTime}}</time>
        </p>
      </app-text>
      <app-text>
        <span i18n>Status: {{ task().status | taskStatus }}</span>
      </app-text>
  
      @if(task().completedBy) {
      <app-text>
        <div i18n>Completed by: {{task().completedBy}}</div>
        <span i18n>On: </span><time [attr.datetime]="task().completedTime">{{task().completedTime | dateTime}}</time>
      </app-text>
      }
    </section>

    @if (task().comments) {
      <section>
        <app-text>
          <p i18n>Comments: {{task().comments}}</p>
        </app-text>
      </section>
    }

    <section>
      <app-status-options [formField]="getFormControl(formNames.status)" ></app-status-options>
    </section>
    <section>
      <app-button [label]="labels.submitBtn" (click)="save()"></app-button>
    </section>
  </section>
