.task {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__item {
    display: flex;
    gap: 0.2rem;

    &--col {
      flex-direction: column;
    }
  }
}
