.radio-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

:host(.radio-label-placement-start) .label-text-wrapper {
  margin-inline-start: 0px 0.3rem;
}

:host-context(.col) .radio-btn {
  flex-direction: column;
}


ion-radio {
  --border-radius: 4px;
  --inner-border-radius: 4px;

  --color: #ddd;
  --color-checked: #6815ec;
}

ion-radio.ios::part(container) {
  width: 20px;
  height: 20px;

  border: 2px solid #ddd;
  border-radius: 4px;
}

.radio-checked.ios::part(container) {
  border-color: #6815ec;
}
