<section class="container">
  <app-card>
    <section class="login">
      @if (errorMessage()) { <app-error [id]="ids.errorMessae()" [message]="errorMessage()"/> }
      <form [formGroup]="form" class="login__form">
        <app-input type="email" [id]="ids.userInput()" [name]="names.email" [label]="labels.placeholderUser" [showClear]="true" [formField]="getFormField(formNames.user)"/>
        <app-input type="password" [id]="ids.passwordInput()" [name]="names.password" [label]="labels.placeholderPassword" [showClear]="true" [formField]="getFormField(formNames.password)"/>
        <section class="login__options">
          <app-email-btn class="login__btn" [id]="ids.submitBtn()" [label]="labels.submitBtn" (click)="loginByEmail()"/>
          <span>{{labels.actionsBtns}}</span>
          <app-google-btn [id]="ids.googleBtn()" [label]="labels.googleBtn" (click)="loginWithGoogle()" class="google-btn" />
        </section>
      </form>
    </section>
  </app-card>
  <article class="sign-in">
    <app-link-button [id]="ids.signInBtn()" [label]="labels.signUpBtn" (click)="signIn()" />
  </article>
</section>
