.container {
  max-width: 500px;
  margin: auto;
  margin-top: 3rem;
}
.login {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  &__btn {
    margin-right: auto;
  }

  &__options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}

.sign-in {
  display: flex;
  justify-content: flex-end;
}

:host ::ng-deep .mdc-text-field--outlined .mat-mdc-form-field-infix, .mdc-text-field--no-label .mat-mdc-form-field-infix {
  padding: 0 !important;
}
