  <section class="container">
    <app-title [title]="labels.titleSectionLabel" titleType="h1"/>
    <form [formGroup]="form" class="form">
    <app-input
      class="form__field"
      [formField]="getFormField(formNames.title)"
      [label]="labels.titleLabel"
      [id]="ids.titleBtn()"
      [name]="names.title"
      type="text"
    ></app-input>
    <section class="form__date">
      <app-label [label]="labels.date"/>
      <app-date
        [id]="ids.date()"
        [formField]="getFormField(formNames.date)"
      />
    </section>
    <app-text-area
      class="form__field"
      [formField]="getFormField(formNames.description)"
      [label]="labels.descriptionLabel"
      [id]="ids.description()"
      [name]="names.description"
      [maxlength]="taskMaxLength"
    />
    <app-chip-grid
      class="form__field"
      [formField]="getFormField(formNames.collaboratorsEmail)"
      [id]="ids.collaboratorsEmail()"
      [label]="labels.collaboratorsEmail"
      [name]="names.email"
      inputType="email"
    />
    <app-button
      [id]="ids.submitBtn()"
      [label]="labels.submitBtn"
      (click)="submit()"
    />
  </form>
  </section>
  <app-loading [show]="isLoading$()" [message]="labels.loadingLabel"/>
