<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{labels.title}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <section class="menu__items">
      <app-button [label]="labels.tasks" color="light" (click)="goToTasks()"/>
      <app-button [label]="labels.addTask" color="light" (click)="goToAddTask()"/>
    </section>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <div class="menu__header">
        <ion-title>{{labels.title}}</ion-title>
        <app-button [label]="'user'" color="light" (click)="openUser()"/>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ng-content select="[mainContent]"></ng-content>
  </ion-content>
</div>