.menu {
  margin: 0;
  padding: 1rem 2rem;
  background-color: var(--color-menu);

  &__content {
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
  }

  &__items {
    display: flex;
    gap: 1rem;
  }
}
