:host {
  display: flow;
  height: 100%;
  max-width: 92rem;
  margin: auto;
}

.task-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  &__item {
    width: 30rem;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
